[Desktop Entry]
Encoding=UTF-8
Terminal=0
Exec=/home/fenghao/.apps/XnView/xnview.sh
Icon=/home/fenghao/.apps/XnView/xnview.png
Type=Application
Categories=Graphics;
StartupNotify=true
Name=XnView Multi Platform
GenericName=XnViewMP

